<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/javascripts/itemsCtrl.js"></script>
</head>
<body ng-app="meanStackApp" ng-controller="mainController">
  <h1>Todo List</h1>
  <input ng-model="newItemObject.task" type="text">
  <button ng-click="createItem()">Add Task</button>
  <br>
  <table>
    <tbody>
      <tr ng-repeat="item in itemObjectsArray" track by index>
        <td>
          <input ng-model="updatedTask.text" placeholder="{{item.task}}"type="text">
          <!-- task {{$index+1}}: {{item.task}} -->
        </td>
        <td>
        <button ng-click=removeItem($index)>
          delete
        </button>
        <button ng-click=updateItem($index)>
          save edit
        </button>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>